@charset "utf-8";
@font-face{font-family:'Nanum Barun Gothic'; src:url('../font/NanumBarunGothic.woff')}
@font-face{font-family:'Nanum Barun Gothic'; src:url('../font/NanumBarunGothic.eot')}
@font-face{font-family:'Nanum Barun GothicB'; src:url('../font/NanumBarunGothicBold.woff')}
@font-face{font-family:'Nanum Barun GothicB'; src:url('../font/NanumBarunGothicBold.eot')}

/* Common */
html{font-size:16px}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a,a:hover,a:active,a:focus{text-decoration:none}
.hide{display:none}

/* All Device */
#wrap{background:#f7f7f7}
#container{text-align:center}
#container:before,#container:after,.headerContent:after,.header:after{clear:both;display:block;content:''}
#accessibility{position:absolute;margin:0;left:-1000em;height:0;overflow:hidden}
.sprImg{background:url(../images/sprImg.png) no-repeat}
img{max-width:100%}

/* Mobile */
.header{padding:9% 0;background:#fefe5e}
.header p{color:#3c3d40;font-size:1.313em;letter-spacing:-1px;line-height:1.250em}
.header h1{width:132px;height:152px;margin:12% auto 8%;color:#cccc4d;font-size:1.125em;font-weight:normal}
.header h1 span{display:block;width:120px;height:120px;margin:0 auto 12px;box-shadow:0 1px 8px 1px #e9e956;border-radius:26px;border:1px solid #d5d54e}
.header .downloadApp{width:194px;height:62px}
.header .imgArea{width:181px;height:371px;margin:8% auto 0}

.content{padding-bottom:8%}
.content .depth{display:inline-block;width:30px;height:30px;color:#999;font-size:1.125em;line-height:30px;text-align:center;border-radius:30px;background:#fff203}
.content h2{padding:30px 0;color:#3c3d40;font-size:2em;font-weight:normal;letter-spacing:-1px;}
.content p{padding-bottom:23px;color:#5b6366;font-size:0.75em}
.column{max-width:320px;margin:0 auto;padding:40px 15px}
.document{width:290px;margin:0 auto}
.document li{width:248px;height:225px;margin-bottom:20px;padding:55px 20px 0;box-shadow:0 1px 1px 0 #ccc;border-radius:4px;background:#fff}
.document a,.document li span{display:inline-block}
.document li span{width:90px;height:90px}
.document li h3{padding:27px 0 8px;color:#3c3d40;font-size:1.375em;font-weight:normal}
.document li p{color:#5b6366;font-size:0.75em}

#footer{padding:20px 0;color:#828c8e;text-align:center;background:#3c3d41}
#footer span{display:inline-block;height:17px;padding-right:10px;vertical-align:middle}
#footer .facebook{width:9px;background-position:-132px 0}
#footer .twitter{width:16px;background-position:-132px -22px}
#footer .instargram{width:17px;background-position:-132px -40px}
#footer a{margin-left:15px;color:#828c8e;font-size:0.875em}
#footer a:first-child{margin-left:0}
.address{clear:both;padding-top:25px;font-size:0.875em}

/* ipad(세로)*/
@media screen and (min-width:760px) {
	.header p{font-size:2.625em}
	.header .downloadApp{width:264px;height:84px;background-size:100%}
	.header .imgArea{width:362px;height:auto}

	.content h2{padding:45px 0 52px;font-size:2.625em}
	.content p{padding-bottom:23px;font-size:1.250em}
	.column{max-width:760px;padding:60px 40px 0}
	.column.second h2{letter-spacing:-1px}
	.column .imgArea{padding-top:40px}
	.document{width:492px;margin:0 auto}
	.document li{width:100%;height:384px;margin:0 0 6%;padding:95px 0 0}
	.document li span{width:150px;height:150px}
	.document li h3{padding:54px 0 13px;font-size:2.250em}
	.document li p{color:#5b6366;font-size:1.125em}
}

/* ipad(가로):데스크탑 */
@media screen and (min-width:1024px) {	
	body,input,textarea,select,button,table{font-family:'Nanum Barun Gothic','돋움',Dotum,AppleGothic,sans-serif}
	#container{text-align:left}
	.headerContent,.content,.ft-inner{max-width:980px;margin:0 auto}
	.headerContent,.document{text-align:center}
	.txtArea{float:right;width:58%;margin-left:4%}
	.header p{padding-top:137px;font-family:'Nanum Barun GothicB'}
	.header .imgArea{float:left;width:37%;height:742px;margin:0}

	.content{clear:both}
	.content h2{width:38%;padding:23px 0 27px}
	.content p{width:40%;font-size:1em;line-height:1.375em}
	.column{position:relative;max-width:980px;height:480px;margin:120px auto 0;padding:0}
	.column .imgArea{position:absolute;right:0;top:0;padding:0}
	.document{width:100%;max-width:1046px;}
	.document li{float:left;width:44%;height:364px;margin:0 3% 6%;padding:75px 0 0}
	.document li h3{padding:44px 0 13px}
	
	#footer{padding:30px 0;text-align:left}
	.ft-inner{position:relative}
	.address{position:absolute;top:0;right:0;padding:0}
}

/* 데스크탑(wide) */
@media screen and (min-width:1480px) {
	.headerContent,.content,.column,.ft-inner{max-width:1100px}
	.document{max-width:1166px}
	.document li{height:384px;padding:95px 0 0}
}