@charset "utf-8";

@font-face{font-family:'Nanum Barun Gothic'; src:url('../font/NanumBarunGothic.woff')}
@font-face{font-family:'Nanum Barun Gothic'; src:url('../font/NanumBarunGothic.eot')}
@font-face{font-family:'Nanum Barun GothicB'; src:url('../font/NanumBarunGothicBold.woff')}
@font-face{font-family:'Nanum Barun GothicB'; src:url('../font/NanumBarunGothicBold.eot')}

/* CSS Document */
/* Common */
html{font-size:16px}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'Nanum Barun Gothic','돋움',Dotum,AppleGothic,sans-serif}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.hide{display:none}

#accessibility{position:absolute;margin:0;left:-1000em;height:0;overflow:hidden}
.sprImg{background:url(../images/sprImg.png) no-repeat}


/* All Device */
#wrap{background:#f7f7f7}
#container{margin:0 auto;text-align:center}
#container:before,#container:after{clear:both;display:block;content:''}

.header{background:#fefe5e}
.header p{color:#3c3d40;font-family:'Nanum Barun GothicB';letter-spacing:-1px}
.header h1{width:132px;height:152px;margin:46px auto 30px;color:#cccc4d;font-size:1.125em;font-weight:normal}
.header h1 span{display:block;width:120px;height:120px;margin:0 auto 12px;box-shadow:0 1px 8px 1px #e9e956;border-radius:12px;border:1px solid #d5d54e}
.header .downloadApp{display:inline-block;background:url(../images/btn_googlePlay.png) no-repeat 0 0}
.header .imgArea{background:url(../images/phoneImg.png);background-size:contain}
.content .depth{display:inline-block;width:30px;height:30px;color:#999;font-size:1.125em;line-height:30px;border-radius:30px;background:#fff203}
.content h2{color:#3c3d40;font-weight:normal}
.content p{color:#5b6366}
.column.first{background:url(../images/exImg01.png) no-repeat center bottom}
.column.second{background:url(../images/exImg02.png) no-repeat center bottom}
.column.third{background:url(../images/exImg03.png) no-repeat center bottom}
.document a,.document li span{display:inline-block}
.document li h3{color:#3c3d40;font-weight:normal}
.document li .iconUse{background:url(../images/iconUse.png) no-repeat 0 0}
.document li .iconTerms{background:url(../images/iconTerms.png) no-repeat 0 0}
.document li .iconHelp{background:url(../images/iconHelp.png) no-repeat 0 0}
.document li .iconNotice{background:url(../images/iconNotice.png) no-repeat 0 0}

/* Mobile */
.header{padding:40px 20px}
.header p{font-size:1.313em;line-height:1.250em}
.header .downloadApp{width:194px;height:62px;background-size:194px 62px}
.header .imgArea{width:181px;height:371px;margin:26px auto 0;background-size:contain}

.content{padding-bottom:40px}
.content h2{padding:30px 0;font-size:2em}
.content p{padding-bottom:23px;font-size:0.75em}
.column{padding:40px 15px 275px}
.column.first,.column.second,.column.third{background-size:290px 260px}

.document{width:290px;margin:0 auto}
.document li{width:248px;height:225px;margin-bottom:20px;padding:55px 20px 0;box-shadow:0 1px 5px 0 #ccc;border-radius:2px;background:#fff}
.document li span{width:90px;height:90px;background-size:100%}
.document li h3{padding:27px 0 8px;font-size:1.375em}
.document li p{color:#5b6366;font-size:0.75em;word-break:keep-all}

#footer{padding:20px 0;color:#828c8e;text-align:center;background:#3c3d41}
#footer span{display:inline-block;height:17px;padding-right:10px;vertical-align:middle}
#footer .facebook{width:9px;background-position:-132px 0}
#footer .twitter{width:16px;background-position:-132px -22px}
#footer .instargram{width:17px;background-position:-132px -40px}
#footer a{margin-left:15px;color:#828c8e;font-size:0.875em}
#footer a:first-child{margin-left:0}
.address{clear:both;padding-top:25px;font-size:0.875em}

/* ipad(세로)*/
@media screen and(min-width:760px) {
	.header{padding:60px 40px}
	.header p{font-size:2.625em}
	.header h1 span{display:block;width:120px;height:120px;margin:0 auto 12px;box-shadow:0 1px 8px 1px #e9e956;border-radius:12px;border:1px solid #d5d54e}
	.header .downloadApp{width:264px;height:84px}
	.header .imgArea{width:362px;height:742px;margin:26px auto 0}

	.content{padding-bottom:60px}
	.content h2{padding:48px 0;font-size:2.625em}
	.content p{padding-bottom:23px;font-size:1.250em}
	.column{padding:40px 15px 275px}
	.column.first,.column.second,.column.third{background-size:524px 478px}

	.document{width:492px;margin:0 auto}
	.document li{width:490px;height:477px;margin-bottom:60px;padding:95px 20px 0;box-shadow:0 1px 5px 0 #ccc;border-radius:2px;background:#fff}
	.document li span{width:150px;height:150px}
	.document li h3{padding:62px 0 8px;color:#3c3d40;font-size:2.250em;font-weight:normal}
	.document li p{color:#5b6366;font-size:1.125em;word-break:keep-all}

	#footer{padding:20px 0;color:#828c8e;text-align:center;background:#3c3d41}
	#footer span{display:inline-block;height:17px;padding-right:10px;vertical-align:middle}
	#footer .facebook{width:9px;background-position:-132px 0}
	#footer .twitter{width:16px;background-position:-132px -22px}
	#footer .instargram{width:17px;background-position:-132px -40px}
	#footer a{margin-left:15px;color:#828c8e;font-size:0.875em}
	#footer a:first-child{margin-left:0}
	.address{clear:both;padding-top:25px;font-size:0.875em}
}

/* ipad(가로):데스크탑 */
@media screen and(min-width:1020px) {
	header {background:url(bg_header_normal.png) left top no-repeat; width:980px; height:200px}
	#content ul {width:1020px}
}

@media all and (orientation:portrait) {} /* 세로 모드. 뷰포트의 높이가 너비에 비해 상대적으로 크면 실행 */
@media all and (orientation:landscape) {} /* 가로 모드. 뷰포트의 너비가 높이에 비해 상대적으로 크면 실행 */

/* 데스크탑(wide) */
@media screen and(min-width:1480px) {
	header {background:url(bg_header_wide.png) left top no-repeat; width:1320px; height:200px}
	#content ul {width:1360px}
}






